# Tasks

### This is my assessment folder for Principles of Data Analytics
### Author: Siobhán Maher

## Task 1: Source the Data Set

The aim of **Task 1** is to import the Iris data set from the sklearn.datasets module.
I should also explain, in my own words, what the load_iris(function) returns

In [41]:
# scikit-learn is a Machine Learning Library that contains sample datasets

# First you should use the following code to make it easier for you to use sklearn; you can now type skl to access sklearn instead of having to type sklearn each time
import sklearn as skl

#similary for pandas, you can type pd instead of pandas 
import pandas as pd

In [42]:
# To load the dataset Iris, we write Python code which says when we use the phrase "data", we want you to refer to
# this specific dataset on scikit-learn called Iris.
# Now when we say do xyz function on this "data", the analysis will be performed on the Iris dataset from scikit-learn

data = skl.datasets.load_iris()

## Task 2: Explore the Data Structure

The aim of **Task 2** is to print and explain the shape of the data set, the first and last 5 rows of the data, the feature names, and the target classes.

In [ ]:
# Print the dataset shape

# data['data'].shape returns 4 columns
# however, df . shape #returns the 5 columns of dataframe below
# this is because the target (species is exlcuded) from 'data' but not 'df'
# source: https://stackoverflow.com/questions/62614084/why-are-there-4-columns-not-5-in-the-iris-dataset 

data['data'].shape

#returns that the rows and columns, rows first, then colums
#In the Iris Dataset there are 150 rows and 4 columns

(150, 4)

In [44]:
# Print first and last 5 rows of data

# df means dataframe and it shows the first 5 and last 5 rows in an easy to read format
# There are 6 columns rather than 5, which we might have expected based on the shape returned by data['data'].shape.
# This is because computers read from 0 and not 1, and it helps the computer to organise the data in its own logic.
# All we need to do to see the first 5 and last 5 rows is type df and run the code.

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [45]:
# Feature Names

# This code basically describes how the data has been organised and what details has been recorded
# For Iris, what has been recorded are details of the flowers measurements
# These are the column headers and allow us to understand waht the measurements are
# It is not clear from the dataframe table what unit has been used to record measurements
# We can see from this code that more detail is returned and that the measurement is in CM

data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
# The Target classes

data['target_names']

# This code returns the name of the 'class'
# This can be found in the iris.names text file
# Attribute information details "5. Class" which in this case is the species of Iris
# -- Iris Setosa
# -- Iris Versicolour
# -- Iris Virginica

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## Task 3: Here we go

## Task 4: And so on...

## End